.restraunt-card {
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #f8f8f8;
}

.restraunt-card img {
    width: 100%;
    height: auto;
}

.restraunt-container {
    display: flex;
    flex-wrap: wrap;
}

.restraunt-card:hover {
    background-color: #e0e0e0;
}